.pt-30 {
  padding-top: 30px;
}

.btn {
  margin: 3px;
}

.header-nav {
  margin-bottom: 20px;
}

.author {
  font-weight: bold;
}

.page-header {
  margin-top: 30px;
  margin-left: 10px;
}

.btn-container {
	margin: 15px;
	max-width: 400px;
}
